services:
  mesh-signal-bridge:
    build: .
    container_name: mesh-signal-bridge
    privileged: true

    env_file:
      - .env

    environment:
      - SIGNAL_GROUP_ID
      - MESH_DEVICE
      - MESH_CHANNEL_INDEX
      - SIGNAL_SHORT_NAMES
      - SIGNAL_POLL_INTERVAL
      - NODE_DB_WARMUP
      - TZ
      - LOG_LEVEL


    volumes:
      - ./signal-data:/root/.local/share/signal-cli

    devices:
      - ${MESH_DEVICE}:${MESH_DEVICE}
    restart: unless-stopped