services:
  meshtastic-signal-bridge:
    image: ghcr.io/ccwod/meshtastic-signal-bridge:latest
    container_name: meshtastic-signal-bridge
    restart: unless-stopped
    privileged: true
    env_file:
      - .env
    environment:
      - MESH_DEVICE
      - MESH_CHANNEL_INDEX
      - SIGNAL_GROUP_ID
      - SIGNAL_POLL_INTERVAL
      - LOG_LEVEL
      - SIGNAL_SHORT_NAMES
      - TZ
      - NODE_DB_WARMUP
    volumes:
      - ./signal-data:/root/.local/share/signal-cli
    devices:
      - ${MESH_DEVICE}:${MESH_DEVICE}